 <div class="login-page clearfix" align="center">
    <div class="logged-in-box auth0-box logged-in">
        <h1 id="logo"><img src="/images/auth0-logo.png" /></h1>
        <img class="avatar" src="{{user.picture}}"/>
        <h2>Welcome {{user.nickname}}</h2>
        <p>Check the console for the entire user object.</p>
    </div>
</div>
